doctype html
html(lang=app().locale)
    head
        title=__('title')
    body
        header
            include menu.pug
        aside
            include table-of-content.pug
        section
            include documentation.pug