@import 'colors.styl'

html,
body
    margin 0
    padding 0
    overflow-x hidden

body
    font-family 'Raleway', sans-serif
    color #060606
    position relative
    margin-top 50px

a
    color accent-color
    text-decoration none
    &.home
        width 200px
        h1
            font-size 32px
            line-height 50px
            margin 0
    &:hover
        text-decoration underline
        color accent-light-color

button:focus, .navbar-dark .navbar-toggler:focus
    outline none
    border thin solid rgba(248, 243, 240, 0.3)

.languages
    white-space nowrap
    border-radius 2px
    background rgba(255, 255, 255, 0.2)
    height 36px
    padding 3px
    margin-right: 10px;
    margin-left: auto;

    a
        display inline-block
        padding 3px 7px
        border-radius 2px
        transition all .2s
        opacity 0.7
        &:hover
            opacity 1
            background rgba(255, 255, 255, 0.2)
        img
            margin 0

/*
 * Header
 */
.site-navbar
    background dark-background
    height 50px
    font-size 1.1em

    img
        float left
        display block
        margin-right 20px
    a
        color white
        text-decoration none

.navbar-brand
    height 2.2em
    margin-right 1em

.navbar-nav .nav-item
    margin-left 0.6em
    margin-right 0.6em
    border-radius 0.4em

    &:hover,
    &:active,
    &.show
        background-color navlink-background

.navbar-toggler
    transition all 0.1s ease-in-out

/*
 * Sidebar
 */

.sidebar
    position fixed
    top 50px
    height calc(100% - 50px)
    /* Scrollable contents if viewport is shorter than content */
    overflow-y auto
    overflow-x hidden
    left 0
    bottom 0
    z-index 1000
    padding 0
    background-color light-background
    border-right 1px solid light-border

.sidebar::-webkit-scrollbar
    display none

@media screen and (max-width: 991px)
    .sidebar
        left -100%
        transition 0.25s left ease-in-out
        &.show
            left 0

.contents
    padding 0.5em 0 0.5em 0.5em
    font-size 1.2em
    align-items normal

    .nav .nav
        margin-left 1em
        font-size 0.9em

    .nav-link
        padding 0.2em 0.7em

    .nav-link.active
        &,
        a:hover,
        a:focus
            font-weight 800

.edit-btn
    float right
    margin-top 15px

    &.sticky-button
        position fixed
        top 55px
        right 1.3em

@media (min-width: 992px)
    .edit-btn.sticky-button
        right 2em

.main
    padding 1.3em

    p, li, td, th
        font-weight normal
        font-size 1.1em
        line-height 1.7em

    blockquote
        font-size 1.1em

    li p, li li, li blockquote
        font-size 1em

    .chapter
        /* Offset the anchor so that clicking on the sidebar links don’t hide the heading under the header bar */
        &,
        .h1, .h2,
        h1, h2
            padding-top 60px
            margin -50px 0 0.7em

        .live-code
            width 100%
            border none
            margin 0

        .live-code-resizer
            height 1.1em
            cursor s-resize
            position relative

    .h3, .h4, .h5, .h6, h3, h4, h5, h6
        margin 0 0 0.7em

    td
        vertical-align top
        padding 0.3em 0

    strong, th
        font-weight 700

    blockquote pre
        background-color #f8f3f0
        color #2f2625
        border-radius .3em
        padding 0.4em 0.6em

    li
        margin-bottom 0.6em

@media (min-width: 992px)
    .languages
        margin-right 0

    .main
        padding-right 2em
        padding-left 2em

@media (min-width: 768px)
    .main p, .main li, .main td, .main th, .main blockquote
        font-size 1.2em

p, blockquote, table, .code-example
    margin-bottom 1.1em

code, td code
    white-space nowrap
    padding 2px 8px

pre code
    white-space pre /* We want newlines to be newlines in code blocks */

h2
    font-weight 600

h3, h4, h2 time
    font-weight normal

code, a > code
    background-color #f8f3f0

code
    color #2f2625

/*
 * Code examples
 */

textarea
    position absolute
    left -99999px /* Hide off canvas, while still remaining visible */

.code-example
    background-color #2f2625
    padding 1em
    border-radius 0.3em
    margin-bottom 1em

.javascript-output-column
    border-left 1px solid rgba(255, 255, 255, 0.2)

.btn-primary
    background-color #69f0ae
    color #0b140f
    border-color #53d88f
    transition 0.2s ease-in-out
    min-width 3.125rem

    &:active, &:focus, &:hover, &:active:hover, &:active:focus
        background-color #61fea8
        color #060a08
        border-color #4de486
        outline 0
